@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Geomini:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';

@theme{
  --font-comic: "Comic Relief", cursive, sans-serif;
  --font-geomini: "Geomini", sans-serif;
  --font-plus: "Plus Jakarta Sans", sans-serif;
}